.App {
<<<<<<< HEAD
  margin:0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.theme{
  background-color: rgb(138, 43, 226);
  border: 1px solid blueviolet;
  color:aliceblue;
}

.delete{
  color:#cf2f2f
}
.delete-bg{
  background-color: #cf2f2f;
  color: white;
  border: 1px solid #cf2f2f;
}

.right-section{
  width: 83%;
  position: relative;
}

.right-section.open{
  left:17%;
}
.right-section.close{
  left:7.1%;
}
=======
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
   
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> 211b44896ca6ba81767824139ce8a51861872b7b
